# Tree-based classifier

Include all possible dimensions and train a treebased classifier

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn import metrics
from sklearn import utils
from sklearn.tree import DecisionTreeClassifier

In [4]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import export_graphviz
import graphviz

## Load Data

In [5]:
df = pd.read_csv('/Users/leima/data_store/rideindego_all.csv')
df['date'] = pd.to_datetime(df.date)
df_weather = pd.read_csv('data/philadelphia_weather.csv')[['date', 'hour', 'avg_temp', 'avg_humid', 'avg_wind_speed', 'avg_pressure']]
df_weather['date'] = pd.to_datetime(df_weather.date)
df = pd.merge(df, df_weather, how='left', left_on=['date', 'hour'], right_on=['date', 'hour'])

/Users/leima/anaconda/envs/saloodo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,3,4,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df['date'] = pd.to_datetime(df.date)

In [6]:
df.head()

,bike_id,bike_type,duration,end_lat,end_lon,end_station_id,end_time,passholder_type,plan_duration,start_lat,...,trip_id,trip_route_category,date,hour,weekday,month,avg_temp,avg_humid,avg_wind_speed,avg_pressure
0,3640,standard,4.0,39.9384,-75.173271,3064,7/1/2016 0:11,Indego30,30,39.946331,...,25183529,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6
1,3349,standard,8.0,39.94138,-75.145638,3026,7/1/2016 0:18,Indego30,30,39.95295,...,25183528,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6
2,5279,standard,17.0,39.933151,-75.162483,3034,7/1/2016 0:28,Indego30,30,39.93082,...,25183527,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6
3,5198,standard,25.0,39.94138,-75.145638,3026,7/1/2016 0:38,Walk-up,0,39.94138,...,25183526,Round Trip,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6
4,3382,standard,45.0,39.947109,-75.166183,3010,7/1/2016 0:58,Walk-up,0,39.954239,...,25183525,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6

In [7]:
df['duration_original'] = df.duration

In [8]:
df['duration'] = df.duration.apply(lambda x: int(x/5)*5 )

In [9]:
df.head()

,bike_id,bike_type,duration,end_lat,end_lon,end_station_id,end_time,passholder_type,plan_duration,start_lat,...,trip_route_category,date,hour,weekday,month,avg_temp,avg_humid,avg_wind_speed,avg_pressure,duration_original
0,3640,standard,0,39.9384,-75.173271,3064,7/1/2016 0:11,Indego30,30,39.946331,...,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6,4.0
1,3349,standard,5,39.94138,-75.145638,3026,7/1/2016 0:18,Indego30,30,39.95295,...,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6,8.0
2,5279,standard,15,39.933151,-75.162483,3034,7/1/2016 0:28,Indego30,30,39.93082,...,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6,17.0
3,5198,standard,25,39.94138,-75.145638,3026,7/1/2016 0:38,Walk-up,0,39.94138,...,Round Trip,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6,25.0
4,3382,standard,45,39.947109,-75.166183,3010,7/1/2016 0:58,Walk-up,0,39.954239,...,One Way,2016-07-01,0,4,7,78.1,58.0,9.2,1016.6,45.0

In [10]:
df = df[df.bike_type == 'standard']
coi = [
    'plan_duration', 
    'trip_route_category', 'hour', 'weekday', 'month', 'avg_temp', 'avg_wind_speed', 'avg_pressure'
]
#avg_humid is correlated to the hour of the day
cot = ['duration']
df = df[coi+cot]
df.dropna(inplace=True)

In [11]:
df.head()

,plan_duration,trip_route_category,hour,weekday,month,avg_temp,avg_wind_speed,avg_pressure,duration
0,30,One Way,0,4,7,78.1,9.2,1016.6,0
1,30,One Way,0,4,7,78.1,9.2,1016.6,5
2,30,One Way,0,4,7,78.1,9.2,1016.6,15
3,0,Round Trip,0,4,7,78.1,9.2,1016.6,25
4,0,One Way,0,4,7,78.1,9.2,1016.6,45

In [12]:
for i in df.columns:
    print(
        i, ': ',
        df[i].isnull().any()
    )

plan_duration :  False
trip_route_category :  False
hour :  False
weekday :  False
month :  False
avg_temp :  False
avg_wind_speed :  False
avg_pressure :  False
duration :  False

In [13]:
scaler = StandardScaler()

In [15]:
X = df[coi]
y = df[cot]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.3, random_state=42
    #,stratify=Y
)

In [16]:
class MultiColumnLabelEncoder:
    def __init__(self, encoders = None, columns = None):
        self.columns = columns # array of column names to encode
        if encoders:
            self.encoders = encoders
        else:
            self.encoders = {}

    def fit(self,X,y=None):
        self.check_encoders = []
        return self # not relevant here

    def transform(self, X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                _le = LabelEncoder()
                if self.encoders.get(col):
                    output[col] = self.encoders.get(col).transform(output[col])
                else:
                    output[col] = _le.fit_transform(output[col])
                    print(f'1. preparing encoder for {col}')
                    self.encoders[col] = _le
                    self.check_encoders.append({col: _le})
        else:
            for colname,col in output.iteritems():
                _le = LabelEncoder()
                if self.encoders.get(col):
                    output[colname] = self.encoders.get(col).transform(col)
                else:
                    output[colname] = _le.fit_transform(col)
                    print(f'2. preparing encoder for {col}')
                    self.encoders[col] = _le
                    self.check_encoders.append({col: _le})
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [17]:
encoders_obj = MultiColumnLabelEncoder(columns=coi+['duration'])
encoders_obj.fit_transform(df)
dt_encoders = encoders_obj.encoders

1. preparing encoder for plan_duration
1. preparing encoder for trip_route_category
1. preparing encoder for hour
1. preparing encoder for weekday
1. preparing encoder for month
1. preparing encoder for avg_temp
1. preparing encoder for avg_wind_speed
1. preparing encoder for avg_pressure
1. preparing encoder for duration

In [18]:
coi

['plan_duration',
 'trip_route_category',
 'hour',
 'weekday',
 'month',
 'avg_temp',
 'avg_wind_speed',
 'avg_pressure']

In [19]:
dt_classifier = GridSearchCV(
    DecisionTreeClassifier(random_state=42), cv=3, 
    param_grid={"max_depth": [1,2,3,4,5,6,7,8]}
)

pipeline_steps = [
    ('encoding', MultiColumnLabelEncoder(columns=coi, encoders=dt_encoders)),
    ('dt_classifier', dt_classifier)
    # add more pipeline steps as needed
]

In [20]:
model = Pipeline(pipeline_steps)

In [31]:
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('encoding',
                 <__main__.MultiColumnLabelEncoder object at 0x1a27621550>),
                ('dt_classifier',
                 GridSearchCV(cv=3, error_score='raise-deprecating',
                              estimator=DecisionTreeClassifier(class_weight=None,
                                                               criterion='gini',
                                                               max_depth=None,
                                                               max_features=None,
                                                               max_leaf_nodes=None,
                                                               min_impurity_decrease=0.0,
                                                               min_impurity_split=None,
                                                               min_samples_leaf=1,
                                                               min_samples_split=2,
                                                               min_weight_fraction_leaf=0.0,
                                                               presort=False,
                                                               random_state=42,
                                                               splitter='best'),
                              iid='warn', n_jobs=None,
                              param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7,
                                                        8]},
                              pre_dispatch='2*n_jobs', refit=True,
                              return_train_score=False, scoring=None,
                              verbose=0))],
         verbose=False)

In [32]:
model.score(X_test[:20000], y_test[:20000])

0.3242

In [33]:
model.score(X_train, y_train)

0.32158081103011454

In [34]:
X_train_transformed = pd.DataFrame()
for col in X_train.columns:
    X_train_transformed[col] = dt_encoders.get(col).transform(X_train[col].values)
    print(col)

plan_duration
trip_route_category
hour
weekday
month
avg_temp
avg_wind_speed
avg_pressure

In [35]:
model.named_steps

duration

In [36]:
print(
    classification_report(y_test, model.predict(X_test))
)

/Users/leima/anaconda/envs/saloodo/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

           0       0.30      0.26      0.27     62092
           5       0.35      0.94      0.51    232066
          10       0.21      0.06      0.09    191682
          15       0.16      0.07      0.09    104679
          20       0.10      0.00      0.00     57605
          25       0.12      0.02      0.03     33666
          30       0.10      0.00      0.01     20255
          35       0.00      0.00      0.00     13516
          40       0.00      0.00      0.00      9882
          45       0.00      0.00      0.00      8183
          50       0.00      0.00      0.00      7466
          55       0.00      0.00      0.00      6034
          60       0.00      0.00      0.00      4112
          65       0.00      0.00      0.00      3023
          70       0.00      0.00      0.00      2477
          75       0.00      0.00      0.00      2233
          80       0.00      0.00      0.00      1953
          85       0.00      0.00      0.00      1771
          90       0.00      0.00      0.00      1429
          95       0.00      0.00      0.00      1322
         100       0.00      0.00      0.00      1131
         105       0.00      0.00      0.00       988
         110       0.00      0.00      0.00       947
         115       0.00      0.00      0.00       793
         120       0.00      0.00      0.00       660
         125       0.00      0.00      0.00       610
         130       0.00      0.00      0.00       575
         135       0.00      0.00      0.00       505
         140       0.00      0.00      0.00       468
         145       0.00      0.00      0.00       379
         150       0.00      0.00      0.00       354
         155       0.00      0.00      0.00       367
         160       0.00      0.00      0.00       329
         165       0.00      0.00      0.00       276
         170       0.00      0.00      0.00       286
         175       0.00      0.00      0.00       280
         180       0.00      0.00      0.00       786
         185       0.00      0.00      0.00       529
         190       0.00      0.00      0.00       399
         195       0.00      0.00      0.00       357
         200       0.00      0.00      0.00       231
         205       0.00      0.00      0.00       224
         210       0.00      0.00      0.00       181
         215       0.00      0.00      0.00       178
         220       0.00      0.00      0.00       175
         225       0.00      0.00      0.00       147
         230       0.00      0.00      0.00       121
         235       0.00      0.00      0.00       134
         240       0.00      0.00      0.00       147
         245       0.00      0.00      0.00       127
         250       0.00      0.00      0.00       123
         255       0.00      0.00      0.00       107
         260       0.00      0.00      0.00        97
         265       0.00      0.00      0.00        80
         270       0.00      0.00      0.00        77
         275       0.00      0.00      0.00        97
         280       0.00      0.00      0.00        79
         285       0.00      0.00      0.00        81
         290       0.00      0.00      0.00        60
         295       0.00      0.00      0.00        64
         300       0.00      0.00      0.00        73
         305       0.00      0.00      0.00        81
         310       0.00      0.00      0.00        62
         315       0.00      0.00      0.00        53
         320       0.00      0.00      0.00        42
         325       0.00      0.00      0.00        55
         330       0.00      0.00      0.00        45
         335       0.00      0.00      0.00        49
         340       0.00      0.00      0.00        53
         345       0.00      0.00      0.00        52
         350       0.00      0.00      0.00        45
         355       0.00      0.00      0.00        44
         360       0.00      0.00      0.00        42
         365       0.00      0.00      0.00        45
         370       0.00      0.00      0.00        51
         375       0.00      0.00      0.00        38
         380       0.00      0.00      0.00        40
         385       0.00      0.00      0.00        43
         390       0.00      0.00      0.00        34
         395       0.00      0.00      0.00        41
         400       0.00      0.00      0.00        37
         405       0.00      0.00      0.00        38
         410       0.00      0.00      0.00        28
         415       0.00      0.00      0.00        39
         420       0.00      0.00      0.00        48
         425       0.00      0.00      0.00        36
         430       0.00      0.00      0.00        38
         435       0.00      0.00      0.00        40
         440       0.00      0.00      0.00        32
         445       0.00      0.00      0.00        34
         450       0.00      0.00      0.00        27
         455       0.00      0.00      0.00        30
         460       0.00      0.00      0.00        39
         465       0.00      0.00      0.00        33
         470       0.00      0.00      0.00        38
         475       0.00      0.00      0.00        35
         480       0.00      0.00      0.00        34
         485       0.00      0.00      0.00        43
         490       0.00      0.00      0.00        33
         495       0.00      0.00      0.00        36
         500       0.00      0.00      0.00        21
         505       0.00      0.00      0.00        36
         510       0.00      0.00      0.00        28
         515       0.00      0.00      0.00        33
         520       0.00      0.00      0.00        25
         525       0.00      0.00      0.00        29
         530       0.00      0.00      0.00        29
         535       0.00      0.00      0.00        35
         540       0.00      0.00      0.00        30
         545       0.00      0.00      0.00        29
         550       0.00      0.00      0.00        35
         555       0.00      0.00      0.00        25
         560       0.00      0.00      0.00        30
         565       0.00      0.00      0.00        27
         570       0.00      0.00      0.00        26
         575       0.00      0.00      0.00        21
         580       0.00      0.00      0.00        30
         585       0.00      0.00      0.00        25
         590       0.00      0.00      0.00        31
         595       0.00      0.00      0.00        23
         600       0.00      0.00      0.00        27
         605       0.00      0.00      0.00        20
         610       0.00      0.00      0.00        19
         615       0.00      0.00      0.00        26
         620       0.00      0.00      0.00        23
         625       0.00      0.00      0.00        22
         630       0.00      0.00      0.00        31
         635       0.00      0.00      0.00        27
         640       0.00      0.00      0.00        22
         645       0.00      0.00      0.00        14
         650       0.00      0.00      0.00        27
         655       0.00      0.00      0.00        20
         660       0.00      0.00      0.00        15
         665       0.00      0.00      0.00        20
         670       0.00      0.00      0.00        15
         675       0.00      0.00      0.00        21
         680       0.00      0.00      0.00        17
         685       0.00      0.00      0.00        21
         690       0.00      0.00      0.00        22
         695       0.00      0.00      0.00        17
         700       0.00      0.00      0.00        21
         705       0.00      0.00      0.00        16
         710       0.00      0.00      0.00        19
         715       0.00      0.00      0.00        20
         720       0.00      0.00      0.00        21
         725       0.00      0.00      0.00        17
         730       0.00      0.00      0.00        17
         735       0.00      0.00      0.00        11
         740       0.00      0.00      0.00        30
         745       0.00      0.00      0.00        20
         750       0.00      0.00      0.00        17
         755       0.00      0.00      0.00        19
         760       0.00      0.00      0.00        19
         765       0.00      0.00      0.00        19
         770       0.00      0.00      0.00        25
         775       0.00      0.00      0.00        26
         780       0.00      0.00      0.00        12
         785       0.00      0.00      0.00        23
         790       0.00      0.00      0.00        20
         795       0.00      0.00      0.00        15
         800       0.00      0.00      0.00        18
         805       0.00      0.00      0.00        13
         810       0.00      0.00      0.00        19
         815       0.00      0.00      0.00        11
         820       0.00      0.00      0.00        12
         825       0.00      0.00      0.00        12
         830       0.00      0.00      0.00        15
         835       0.00      0.00      0.00        20
         840       0.00      0.00      0.00        18
         845       0.00      0.00      0.00        12
         850       0.00      0.00      0.00        17
         855       0.00      0.00      0.00        18
         860       0.00      0.00      0.00        11
         865       0.00      0.00      0.00        10
         870       0.00      0.00      0.00        10
         875       0.00      0.00      0.00        14
         880       0.00      0.00      0.00         9
         885       0.00      0.00      0.00        15
         890       0.00      0.00      0.00        18
         895       0.00      0.00      0.00        12
         900       0.00      0.00      0.00         9
         905       0.00      0.00      0.00        15
         910       0.00      0.00      0.00        13
         915       0.00      0.00      0.00         9
         920       0.00      0.00      0.00        11
         925       0.00      0.00      0.00        14
         930       0.00      0.00      0.00        12
         935       0.00      0.00      0.00        15
         940       0.00      0.00      0.00        13
         945       0.00      0.00      0.00        13
         950       0.00      0.00      0.00        16
         955       0.00      0.00      0.00        10
         960       0.00      0.00      0.00        16
         965       0.00      0.00      0.00        17
         970       0.00      0.00      0.00         7
         975       0.00      0.00      0.00        12
         980       0.00      0.00      0.00        10
         985       0.00      0.00      0.00        13
         990       0.00      0.00      0.00        13
         995       0.00      0.00      0.00         7
        1000       0.00      0.00      0.00        14
        1005       0.00      0.00      0.00         8
        1010       0.00      0.00      0.00        11
        1015       0.00      0.00      0.00         6
        1020       0.00      0.00      0.00         7
        1025       0.00      0.00      0.00         7
        1030       0.00      0.00      0.00        12
        1035       0.00      0.00      0.00        10
        1040       0.00      0.00      0.00         7
        1045       0.00      0.00      0.00         8
        1050       0.00      0.00      0.00         8
        1055       0.00      0.00      0.00        12
        1060       0.00      0.00      0.00         7
        1065       0.00      0.00      0.00         7
        1070       0.00      0.00      0.00         9
        1075       0.00      0.00      0.00         5
        1080       0.00      0.00      0.00        13
        1085       0.00      0.00      0.00        11
        1090       0.00      0.00      0.00         9
        1095       0.00      0.00      0.00         6
        1100       0.00      0.00      0.00         9
        1105       0.00      0.00      0.00         8
        1110       0.00      0.00      0.00         6
        1115       0.00      0.00      0.00         6
        1120       0.00      0.00      0.00        12
        1125       0.00      0.00      0.00         6
        1130       0.00      0.00      0.00         7
        1135       0.00      0.00      0.00         9
        1140       0.00      0.00      0.00         5
        1145       0.00      0.00      0.00         8
        1150       0.00      0.00      0.00         7
        1155       0.00      0.00      0.00         9
        1160       0.00      0.00      0.00         5
        1165       0.00      0.00      0.00        11
        1170       0.00      0.00      0.00         6
        1175       0.00      0.00      0.00        10
        1180       0.00      0.00      0.00         9
        1185       0.00      0.00      0.00         7
        1190       0.00      0.00      0.00         8
        1195       0.00      0.00      0.00        10
        1200       0.00      0.00      0.00         9
        1205       0.00      0.00      0.00         5
        1210       0.00      0.00      0.00         5
        1215       0.00      0.00      0.00         8
        1220       0.00      0.00      0.00         6
        1225       0.00      0.00      0.00         3
        1230       0.00      0.00      0.00         5
        1235       0.00      0.00      0.00         7
        1240       0.00      0.00      0.00         7
        1245       0.00      0.00      0.00        10
        1250       0.00      0.00      0.00         6
        1255       0.00      0.00      0.00         5
        1260       0.00      0.00      0.00         3
        1265       0.00      0.00      0.00         9
        1270       0.00      0.00      0.00         6
        1275       0.00      0.00      0.00        11
        1280       0.00      0.00      0.00         9
        1285       0.00      0.00      0.00         3
        1290       0.00      0.00      0.00         4
        1295       0.00      0.00      0.00         8
        1300       0.00      0.00      0.00         9
        1305       0.00      0.00      0.00         4
        1310       0.00      0.00      0.00         7
        1315       0.00      0.00      0.00         9
        1320       0.00      0.00      0.00         6
        1325       0.00      0.00      0.00         3
        1330       0.00      0.00      0.00         3
        1335       0.00      0.00      0.00         4
        1340       0.00      0.00      0.00         9
        1345       0.00      0.00      0.00         6
        1350       0.00      0.00      0.00         4
        1355       0.00      0.00      0.00         4
        1360       0.00      0.00      0.00        10
        1365       0.00      0.00      0.00         5
        1370       0.00      0.00      0.00         7
        1375       0.00      0.00      0.00         6
        1380       0.00      0.00      0.00         3
        1385       0.00      0.00      0.00         4
        1390       0.00      0.00      0.00         7
        1395       0.00      0.00      0.00         6
        1400       0.00      0.00      0.00         3
        1405       0.00      0.00      0.00         4
        1410       0.00      0.00      0.00         1
        1415       0.00      0.00      0.00         4
        1420       0.00      0.00      0.00         7
        1425       0.00      0.00      0.00         4
        1430       0.00      0.00      0.00         6
        1435       0.00      0.00      0.00         5
        1440       0.00      0.00      0.00       583

    accuracy                           0.32    783808
   macro avg       0.00      0.00      0.00    783808
weighted avg       0.21      0.32      0.21    783808

In [37]:
model.named_steps['dt_classifier'].best_params_

{'max_depth': 7}

In [43]:
dt_classifier_n = DecisionTreeClassifier(random_state=42, max_depth=7)

dt_classifier_n.fit(X_train_transformed[:100000], y_train_transformed[:100000])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [44]:
for name, importance in zip(X_train.columns, dt_classifier_6.feature_importances_):
    print(name, f'{importance:.2}')

plan_duration 0.16
trip_route_category 0.12
hour 0.034
weekday 0.13
month 0.1
avg_temp 0.21
avg_wind_speed 0.14
avg_pressure 0.1

In [140]:
export_graphviz(
    dt_classifier_6, 
    feature_names=X_train.columns,
    out_file='dt_classifier_6.dot'
)

In [154]:
graph = graphviz.Source(
    export_graphviz(
    dt_classifier_6, 
    feature_names=X_train.columns,
    out_file=None
)
)

In [155]:
graph.format = 'png'

In [156]:
graph.render('dt_classifier_6.dot')

'dt_classifier_6.dot.png'

### Tests

In [ ]:
df_test = X_test.sample(n=2)

In [ ]:
df_test.info()

In [ ]:
model.predict(df_test)

In [ ]:
'{}'.format(model.predict(df_test))

In [ ]:
scaler.inverse_transform(model.predict(df_test))

In [ ]:
df_test = X_test.sample(n=1)

In [ ]:
df_test.to_json(orient='records')

In [ ]:
record = json.loads('{"passholder_type":"Indego30","trip_route_category":"One Way","hour":15,"weekday":3,"month":6}')

In [ ]:
df_test_recon = pd.DataFrame.from_records([record])

In [ ]:
df_test_recon