# Tree-based classifier

Include all possible dimensions and train a treebased classifier

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn import metrics
from sklearn import utils
from sklearn.tree import DecisionTreeClassifier

In [88]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import export_graphviz
import graphviz

## Load Data

In [3]:
df = pd.read_csv('/Users/leima/data_store/rideindego_all.csv')

/Users/leima/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,3,4,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df['date'] = pd.to_datetime(df.date)

In [5]:
df.head()

,bike_id,bike_type,duration,end_lat,end_lon,end_station_id,end_time,passholder_type,plan_duration,start_lat,start_lon,start_station_id,start_time,trip_id,trip_route_category,date,hour,weekday,month
0,3640,standard,4.0,39.9384,-75.173271,3064,7/1/2016 0:11,Indego30,30,39.946331,-75.1698,3063.0,7/1/2016 0:07,25183529,One Way,2016-07-01,0,4,7
1,3349,standard,8.0,39.94138,-75.145638,3026,7/1/2016 0:18,Indego30,30,39.95295,-75.139793,3124.0,7/1/2016 0:10,25183528,One Way,2016-07-01,0,4,7
2,5279,standard,17.0,39.933151,-75.162483,3034,7/1/2016 0:28,Indego30,30,39.93082,-75.174744,3043.0,7/1/2016 0:11,25183527,One Way,2016-07-01,0,4,7
3,5198,standard,25.0,39.94138,-75.145638,3026,7/1/2016 0:38,Walk-up,0,39.94138,-75.145638,3026.0,7/1/2016 0:13,25183526,Round Trip,2016-07-01,0,4,7
4,3382,standard,45.0,39.947109,-75.166183,3010,7/1/2016 0:58,Walk-up,0,39.954239,-75.161377,3037.0,7/1/2016 0:13,25183525,One Way,2016-07-01,0,4,7

In [6]:
df['duration_original'] = df.duration

In [7]:
df['duration'] = df.duration.apply(lambda x: int(x/5)*5 )

In [8]:
df.head()

,bike_id,bike_type,duration,end_lat,end_lon,end_station_id,end_time,passholder_type,plan_duration,start_lat,start_lon,start_station_id,start_time,trip_id,trip_route_category,date,hour,weekday,month,duration_original
0,3640,standard,0,39.9384,-75.173271,3064,7/1/2016 0:11,Indego30,30,39.946331,-75.1698,3063.0,7/1/2016 0:07,25183529,One Way,2016-07-01,0,4,7,4.0
1,3349,standard,5,39.94138,-75.145638,3026,7/1/2016 0:18,Indego30,30,39.95295,-75.139793,3124.0,7/1/2016 0:10,25183528,One Way,2016-07-01,0,4,7,8.0
2,5279,standard,15,39.933151,-75.162483,3034,7/1/2016 0:28,Indego30,30,39.93082,-75.174744,3043.0,7/1/2016 0:11,25183527,One Way,2016-07-01,0,4,7,17.0
3,5198,standard,25,39.94138,-75.145638,3026,7/1/2016 0:38,Walk-up,0,39.94138,-75.145638,3026.0,7/1/2016 0:13,25183526,Round Trip,2016-07-01,0,4,7,25.0
4,3382,standard,45,39.947109,-75.166183,3010,7/1/2016 0:58,Walk-up,0,39.954239,-75.161377,3037.0,7/1/2016 0:13,25183525,One Way,2016-07-01,0,4,7,45.0

In [9]:
df = df[df.bike_type == 'standard']
coi = [
    'passholder_type', 
    'trip_route_category', 'hour', 'weekday', 'month'
]
cot = ['duration']
df = df[coi+cot]

In [10]:
df.head()

  passholder_type trip_route_category  hour  weekday  month  duration
0        Indego30             One Way     0        4      7         0
1        Indego30             One Way     0        4      7         5
2        Indego30             One Way     0        4      7        15
3         Walk-up          Round Trip     0        4      7        25
4         Walk-up             One Way     0        4      7        45

In [11]:
for i in df.columns:
    print(
        i, ': ',
        df[i].isnull().any()
    )

passholder_type :  False
trip_route_category :  False
hour :  False
weekday :  False
month :  False
duration :  False

In [12]:
scaler = StandardScaler()

In [62]:
X = df[coi]
#X = pd.get_dummies(X)
y = df[cot]
# y = scaler.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.3, random_state=42
    #,stratify=Y
)

In [14]:
class MultiColumnLabelEncoder:
    def __init__(self, encoders = None, columns = None):
        self.columns = columns # array of column names to encode
        if encoders:
            self.encoders = encoders
        else:
            self.encoders = {}

    def fit(self,X,y=None):
        self.check_encoders = []
        return self # not relevant here

    def transform(self, X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                _le = LabelEncoder()
                if self.encoders.get(col):
                    output[col] = self.encoders.get(col).transform(output[col])
                else:
                    output[col] = _le.fit_transform(output[col])
                    print(f'1. preparing encoder for {col}')
                    self.encoders[col] = _le
                    self.check_encoders.append({col: _le})
        else:
            for colname,col in output.iteritems():
                _le = LabelEncoder()
                if self.encoders.get(col):
                    output[colname] = self.encoders.get(col).transform(col)
                else:
                    output[colname] = _le.fit_transform(col)
                    print(f'2. preparing encoder for {col}')
                    self.encoders[col] = _le
                    self.check_encoders.append({col: _le})
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [52]:
encoders_obj = MultiColumnLabelEncoder(columns=coi+['duration'])
encoders_obj.fit_transform(df)
dt_encoders = encoders_obj.encoders

1. preparing encoder for passholder_type
1. preparing encoder for trip_route_category
1. preparing encoder for hour
1. preparing encoder for weekday
1. preparing encoder for month
1. preparing encoder for duration

In [16]:
coi

['passholder_type', 'trip_route_category', 'hour', 'weekday', 'month']

In [40]:
dt_classifier = GridSearchCV(
    DecisionTreeClassifier(random_state=42), cv=3, 
    param_grid={"max_depth": [1,2,3,4,5,6,7,8]}
)

pipeline_steps = [
    ('encoding', MultiColumnLabelEncoder(columns=coi, encoders=dt_encoders)),
    ('dt_classifier', dt_classifier)
    # add more pipeline steps as needed
]

In [41]:
model = Pipeline(pipeline_steps)

In [78]:
model.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('encoding', <__main__.MultiColumnLabelEncoder object at 0x1a143865c0>), ('dt_classifier', GridSearchCV(cv=3, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_i...   pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0))])

In [79]:
model.score(X_test[:20000], y_test[:20000])

0.31815

In [44]:
model.score(X_train, y_train)

0.3209558739900585

In [64]:
X_train_transformed = pd.DataFrame()
for col in X_train.columns:
    X_train_transformed[col] = dt_encoders.get(col).transform(X_train[col].values)
    print(col)

passholder_type
trip_route_category
hour
weekday
month

In [65]:
y_train_transformed = pd.DataFrame()
for col in y_train.columns:
    y_train_transformed[col] = dt_encoders.get(col).transform(y_train[col].values)
    print(col)

duration

In [92]:
print(
    classification_report(y_test, model.predict(X_test))
)

             precision    recall  f1-score   support

          0       0.30      0.25      0.27     62950
          5       0.35      0.94      0.51    233852
         10       0.21      0.07      0.10    194315
         15       0.16      0.06      0.09    105568
         20       0.19      0.00      0.01     57686
         25       0.11      0.02      0.04     33605
         30       0.00      0.00      0.00     20469
         35       0.00      0.00      0.00     13529
         40       0.00      0.00      0.00     10071
         45       0.00      0.00      0.00      8444
         50       0.00      0.00      0.00      7420
         55       0.00      0.00      0.00      6252
         60       0.00      0.00      0.00      4064
         65       0.00      0.00      0.00      3086
         70       0.00      0.00      0.00      2540
         75       0.00      0.00      0.00      2318
         80       0.00      0.00      0.00      2018
         85       0.00      0.00      0.00      1778
         90       0.00      0.00      0.00      1445
         95       0.00      0.00      0.00      1388
        100       0.00      0.00      0.00      1142
        105       0.00      0.00      0.00      1003
        110       0.00      0.00      0.00       900
        115       0.00      0.00      0.00       776
        120       0.00      0.00      0.00       727
        125       0.00      0.00      0.00       622
        130       0.00      0.00      0.00       541
        135       0.00      0.00      0.00       517
        140       0.00      0.00      0.00       451
        145       0.00      0.00      0.00       391
        150       0.00      0.00      0.00       348
        155       0.00      0.00      0.00       370
        160       0.00      0.00      0.00       278
        165       0.00      0.00      0.00       291
        170       0.00      0.00      0.00       283
        175       0.00      0.00      0.00       268
        180       0.00      0.00      0.00       790
        185       0.00      0.00      0.00       539
        190       0.00      0.00      0.00       410
        195       0.00      0.00      0.00       330
        200       0.00      0.00      0.00       266
        205       0.00      0.00      0.00       235
        210       0.00      0.00      0.00       206
        215       0.00      0.00      0.00       188
        220       0.00      0.00      0.00       171
        225       0.00      0.00      0.00       171
        230       0.00      0.00      0.00       121
        235       0.00      0.00      0.00       149
        240       0.00      0.00      0.00       150
        245       0.00      0.00      0.00       122
        250       0.00      0.00      0.00       123
        255       0.00      0.00      0.00       115
        260       0.00      0.00      0.00       108
        265       0.00      0.00      0.00        82
        270       0.00      0.00      0.00        89
        275       0.00      0.00      0.00        97
        280       0.00      0.00      0.00        75
        285       0.00      0.00      0.00        79
        290       0.00      0.00      0.00        63
        295       0.00      0.00      0.00        78
        300       0.00      0.00      0.00        71
        305       0.00      0.00      0.00        58
        310       0.00      0.00      0.00        70
        315       0.00      0.00      0.00        51
        320       0.00      0.00      0.00        38
        325       0.00      0.00      0.00        57
        330       0.00      0.00      0.00        51
        335       0.00      0.00      0.00        56
        340       0.00      0.00      0.00        55
        345       0.00      0.00      0.00        64
        350       0.00      0.00      0.00        53
        355       0.00      0.00      0.00        39
        360       0.00      0.00      0.00        49
        365       0.00      0.00      0.00        41
        370       0.00      0.00      0.00        42
        375       0.00      0.00      0.00        39
        380       0.00      0.00      0.00        33
        385       0.00      0.00      0.00        36
        390       0.00      0.00      0.00        35
        395       0.00      0.00      0.00        33
        400       0.00      0.00      0.00        41
        405       0.00      0.00      0.00        46
        410       0.00      0.00      0.00        32
        415       0.00      0.00      0.00        41
        420       0.00      0.00      0.00        36
        425       0.00      0.00      0.00        24
        430       0.00      0.00      0.00        37
        435       0.00      0.00      0.00        29
        440       0.00      0.00      0.00        22
        445       0.00      0.00      0.00        44
        450       0.00      0.00      0.00        25
        455       0.00      0.00      0.00        32
        460       0.00      0.00      0.00        29
        465       0.00      0.00      0.00        27
        470       0.00      0.00      0.00        49
        475       0.00      0.00      0.00        36
        480       0.00      0.00      0.00        32
        485       0.00      0.00      0.00        50
        490       0.00      0.00      0.00        19
        495       0.00      0.00      0.00        33
        500       0.00      0.00      0.00        35
        505       0.00      0.00      0.00        35
        510       0.00      0.00      0.00        35
        515       0.00      0.00      0.00        34
        520       0.00      0.00      0.00        26
        525       0.00      0.00      0.00        27
        530       0.00      0.00      0.00        32
        535       0.00      0.00      0.00        32
        540       0.00      0.00      0.00        24
        545       0.00      0.00      0.00        21
        550       0.00      0.00      0.00        33
        555       0.00      0.00      0.00        33
        560       0.00      0.00      0.00        28
        565       0.00      0.00      0.00        21
        570       0.00      0.00      0.00        30
        575       0.00      0.00      0.00        23
        580       0.00      0.00      0.00        35
        585       0.00      0.00      0.00        25
        590       0.00      0.00      0.00        29
        595       0.00      0.00      0.00        29
        600       0.00      0.00      0.00        21
        605       0.00      0.00      0.00        22
        610       0.00      0.00      0.00        19
        615       0.00      0.00      0.00        27
        620       0.00      0.00      0.00        23
        625       0.00      0.00      0.00        14
        630       0.00      0.00      0.00        25
        635       0.00      0.00      0.00        22
        640       0.00      0.00      0.00        27
        645       0.00      0.00      0.00        21
        650       0.00      0.00      0.00        24
        655       0.00      0.00      0.00        26
        660       0.00      0.00      0.00        21
        665       0.00      0.00      0.00        25
        670       0.00      0.00      0.00        17
        675       0.00      0.00      0.00        18
        680       0.00      0.00      0.00        17
        685       0.00      0.00      0.00        22
        690       0.00      0.00      0.00        23
        695       0.00      0.00      0.00        16
        700       0.00      0.00      0.00        26
        705       0.00      0.00      0.00        18
        710       0.00      0.00      0.00        17
        715       0.00      0.00      0.00        16
        720       0.00      0.00      0.00        10
        725       0.00      0.00      0.00        19
        730       0.00      0.00      0.00        18
        735       0.00      0.00      0.00        17
        740       0.00      0.00      0.00        19
        745       0.00      0.00      0.00        23
        750       0.00      0.00      0.00        16
        755       0.00      0.00      0.00        20
        760       0.00      0.00      0.00        24
        765       0.00      0.00      0.00        20
        770       0.00      0.00      0.00        19
        775       0.00      0.00      0.00        21
        780       0.00      0.00      0.00        13
        785       0.00      0.00      0.00        17
        790       0.00      0.00      0.00        24
        795       0.00      0.00      0.00        12
        800       0.00      0.00      0.00        23
        805       0.00      0.00      0.00        16
        810       0.00      0.00      0.00        19
        815       0.00      0.00      0.00        25
        820       0.00      0.00      0.00        11
        825       0.00      0.00      0.00        15
        830       0.00      0.00      0.00        15
        835       0.00      0.00      0.00        15
        840       0.00      0.00      0.00        12
        845       0.00      0.00      0.00        23
        850       0.00      0.00      0.00        19
        855       0.00      0.00      0.00        10
        860       0.00      0.00      0.00        16
        865       0.00      0.00      0.00        15
        870       0.00      0.00      0.00        12
        875       0.00      0.00      0.00        13
        880       0.00      0.00      0.00        13
        885       0.00      0.00      0.00        16
        890       0.00      0.00      0.00        16
        895       0.00      0.00      0.00         9
        900       0.00      0.00      0.00        10
        905       0.00      0.00      0.00        16
        910       0.00      0.00      0.00        13
        915       0.00      0.00      0.00        10
        920       0.00      0.00      0.00        11
        925       0.00      0.00      0.00        14
        930       0.00      0.00      0.00        18
        935       0.00      0.00      0.00         8
        940       0.00      0.00      0.00        15
        945       0.00      0.00      0.00        17
        950       0.00      0.00      0.00        15
        955       0.00      0.00      0.00        12
        960       0.00      0.00      0.00        15
        965       0.00      0.00      0.00        15
        970       0.00      0.00      0.00         8
        975       0.00      0.00      0.00        13
        980       0.00      0.00      0.00         7
        985       0.00      0.00      0.00        14
        990       0.00      0.00      0.00        15
        995       0.00      0.00      0.00        11
       1000       0.00      0.00      0.00        14
       1005       0.00      0.00      0.00         9
       1010       0.00      0.00      0.00        11
       1015       0.00      0.00      0.00        11
       1020       0.00      0.00      0.00        11
       1025       0.00      0.00      0.00        10
       1030       0.00      0.00      0.00        11
       1035       0.00      0.00      0.00        13
       1040       0.00      0.00      0.00         7
       1045       0.00      0.00      0.00        11
       1050       0.00      0.00      0.00        10
       1055       0.00      0.00      0.00        13
       1060       0.00      0.00      0.00        13
       1065       0.00      0.00      0.00         7
       1070       0.00      0.00      0.00         7
       1075       0.00      0.00      0.00         6
       1080       0.00      0.00      0.00        10
       1085       0.00      0.00      0.00        13
       1090       0.00      0.00      0.00         7
       1095       0.00      0.00      0.00         8
       1100       0.00      0.00      0.00        10
       1105       0.00      0.00      0.00         9
       1110       0.00      0.00      0.00         7
       1115       0.00      0.00      0.00         6
       1120       0.00      0.00      0.00        14
       1125       0.00      0.00      0.00        10
       1130       0.00      0.00      0.00         2
       1135       0.00      0.00      0.00         9
       1140       0.00      0.00      0.00         7
       1145       0.00      0.00      0.00         7
       1150       0.00      0.00      0.00        10
       1155       0.00      0.00      0.00         8
       1160       0.00      0.00      0.00         9
       1165       0.00      0.00      0.00         8
       1170       0.00      0.00      0.00         8
       1175       0.00      0.00      0.00        11
       1180       0.00      0.00      0.00        10
       1185       0.00      0.00      0.00         9
       1190       0.00      0.00      0.00         8
       1195       0.00      0.00      0.00         9
       1200       0.00      0.00      0.00        10
       1205       0.00      0.00      0.00         5
       1210       0.00      0.00      0.00        10
       1215       0.00      0.00      0.00         9
       1220       0.00      0.00      0.00         8
       1225       0.00      0.00      0.00         2
       1230       0.00      0.00      0.00         5
       1235       0.00      0.00      0.00         5
       1240       0.00      0.00      0.00         7
       1245       0.00      0.00      0.00         8
       1250       0.00      0.00      0.00         7
       1255       0.00      0.00      0.00         4
       1260       0.00      0.00      0.00         3
       1265       0.00      0.00      0.00         6
       1270       0.00      0.00      0.00         7
       1275       0.00      0.00      0.00         7
       1280       0.00      0.00      0.00         6
       1285       0.00      0.00      0.00         8
       1290       0.00      0.00      0.00         8
       1295       0.00      0.00      0.00         8
       1300       0.00      0.00      0.00         8
       1305       0.00      0.00      0.00         7
       1310       0.00      0.00      0.00         7
       1315       0.00      0.00      0.00         9
       1320       0.00      0.00      0.00        15
       1325       0.00      0.00      0.00         3
       1330       0.00      0.00      0.00         6
       1335       0.00      0.00      0.00         4
       1340       0.00      0.00      0.00         7
       1345       0.00      0.00      0.00         6
       1350       0.00      0.00      0.00         8
       1355       0.00      0.00      0.00         5
       1360       0.00      0.00      0.00         4
       1365       0.00      0.00      0.00         6
       1370       0.00      0.00      0.00         5
       1375       0.00      0.00      0.00         6
       1380       0.00      0.00      0.00         6
       1385       0.00      0.00      0.00         4
       1390       0.00      0.00      0.00         6
       1395       0.00      0.00      0.00         5
       1400       0.00      0.00      0.00         5
       1405       0.00      0.00      0.00         8
       1410       0.00      0.00      0.00         3
       1415       0.00      0.00      0.00         4
       1420       0.00      0.00      0.00         9
       1425       0.00      0.00      0.00         3
       1430       0.00      0.00      0.00        11
       1435       0.00      0.00      0.00         5
       1440       0.00      0.00      0.00       557

avg / total       0.22      0.32      0.21    791312

/Users/leima/anaconda/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
pipeline.named_steps['pca']

In [95]:
dt_classifier.best_params_

{'max_depth': 6}

In [110]:
dt_classifier_6 = DecisionTreeClassifier(random_state=42, max_depth=6)

dt_classifier_6.fit(X_train_transformed[:1000], y_train_transformed[:1000])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [158]:
for name, importance in zip(X_train.columns, dt_classifier_6.feature_importances_):
    print(name, f'{importance:.2}')

passholder_type 0.19
trip_route_category 0.14
hour 0.33
weekday 0.16
month 0.18

In [140]:
export_graphviz(
    dt_classifier_6, 
    feature_names=X_train.columns,
    out_file='dt_classifier_6.dot'
)

In [154]:
graph = graphviz.Source(
    export_graphviz(
    dt_classifier_6, 
    feature_names=X_train.columns,
    out_file=None
)
)

In [155]:
graph.format = 'png'

In [156]:
graph.render('dt_classifier_6.dot')

'dt_classifier_6.dot.png'

### Tests

In [ ]:
df_test = X_test.sample(n=2)

In [ ]:
df_test.info()

In [ ]:
model.predict(df_test)

In [ ]:
'{}'.format(model.predict(df_test))

In [ ]:
scaler.inverse_transform(model.predict(df_test))

In [ ]:
df_test = X_test.sample(n=1)

In [ ]:
df_test.to_json(orient='records')

In [ ]:
record = json.loads('{"passholder_type":"Indego30","trip_route_category":"One Way","hour":15,"weekday":3,"month":6}')

In [ ]:
df_test_recon = pd.DataFrame.from_records([record])

In [ ]:
df_test_recon