## Scraping Hourly Weather Data for Phil

http://www.climate.psu.edu/data/city_information/index.php?city=phl&page=ho&month=July&year=2019&type=big7

http://www.climate.psu.edu/data/ida/index.php?t=3&x=faa_hourly&id=KPHL

In [1]:
import pandas as pd

In [54]:
df = pd.read_csv('data/faa_hourly-KPHL_20150101-20190401.csv', skiprows=16)

In [55]:
df.columns

Index(['Date/Time (GMT)', 'Average Temp (F)', 'Average Relative Humidity (%)',
       'Average Wind Speed (mph)', 'Average Station Pressure (mb)',
       'Average Wind Direction (deg)', 'Unnamed: 6'],
      dtype='object')

In [56]:
col = ['Date/Time (GMT)', 'Average Temp (F)', 'Average Relative Humidity (%)',
       'Average Wind Speed (mph)', 'Average Station Pressure (mb)']

In [57]:
df = df[col]
df.rename(columns={'Date/Time (GMT)': 'datetime', 'Average Temp (F)': 'avg_temp', 'Average Relative Humidity (%)': 'avg_humid',
       'Average Wind Speed (mph)': 'avg_wind_speed', 'Average Station Pressure (mb)': 'avg_pressure'}, inplace=True)

In [58]:
df.head()

              datetime avg_temp avg_humid avg_wind_speed avg_pressure
0  2015-01-01 00:00:00    28.90     49.00           8.10       1025.4
1  2015-01-01 01:00:00    28.90     53.00           8.10       1024.7
2  2015-01-01 02:00:00    30.00     53.00          13.80       1024.0
3  2015-01-01 03:00:00    28.90     56.00          12.70       1023.7
4  2015-01-01 04:00:00    28.90     56.00          12.70       1023.7

In [61]:
df['date'] = df.datetime.apply(lambda x: x.split(' ')[0])
df = df.drop(df[df.date=='Date/Time'].index)

In [70]:
df['hour'] = df.datetime.apply(lambda x: int(x.split(' ')[1].split(':')[0]))

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37065 entries, 0 to 38917
Data columns (total 7 columns):
datetime          37065 non-null object
avg_temp          37064 non-null object
avg_humid         35993 non-null object
avg_wind_speed    37063 non-null object
avg_pressure      36923 non-null object
date              37065 non-null object
hour              37065 non-null int64
dtypes: int64(1), object(6)
memory usage: 3.5+ MB

In [72]:
df.describe()

               hour
count  37065.000000
mean      11.503170
std        6.923294
min        0.000000
25%        6.000000
50%       12.000000
75%       18.000000
max       23.000000

In [73]:
df.to_csv('data/philadelphia_weather.csv', index=False)